doctype html
html(lang="en")
	head
		title Manage Social
		link(rel="stylesheet" href="css/bootstrap.css" title="app-styles")
		link(rel="stylesheet" href="css/font-awesome.css" title="app-styles")
		link(rel="stylesheet" href="css/app.css" title="app-styles")
		script(type="text/javascript").
			window.initialData = #{initialData};

	body
		div(id="application-root")
		script(src="app.js")
